
:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-whiter:rgba(255, 255, 255, 0.3);
  --basic-grey: #888888;
  --basic-grey-light: #666666;
  --basic-grey-darcen: #CACACA;
  --basic-grey-lighter: #F2F2F2;
  --basic-grey-darken: #333333;
  --basic-blue: #81B3D2;
  --basic-blue-darken: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-light-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-brown-light: #766458;
  --basic-brown-light-darken: #604E43;
  --basic-brown-light-darkk: #503E33;
  --basic-white-light: rgba(255, 255, 255, 0.9);
  --basic-white-lihter: 0px 7px 15px rgba(0, 1, 1, 0.15);

}

/* Global */


body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0 0 50px 300px var(--basic-grey);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
  display: flex;
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  margin: 0;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 15px 72px;
  width: 1200px;
  margin: 0;
}

.site-navigation a {
  display: flex;
  display: block;
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
 }

.site-navigation-text:hover,
.site-navigation-text:focus {
  background-color: var(--basic-white);
}


.site-navigation-text-information {
  text-align: left;
  width: 228px;
  margin: 0;
}

.site-navigation-text-galary {
  text-align: left;
  width: 228px;
  margin: 0 72px 0 0;
}

.site-navigation-text-map {
  text-align: right;
  width: 227px;
  margin: 0 0 0 74px;
}

.site-navigation-text-hotel {
  text-align: right;
  width: 227px;
  margin: 0;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 640px;
  width: 138px;
  height: 70px;
  order: 2;
  justify-self: center;
}


.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* Header */

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
  margin: 0 0;
  padding-top: 42px;
  padding-bottom: 51px;
}

.container-header-first {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  max-width: 470px;
  margin: 0;
  font-weight: 700;
  padding-bottom: 31px;
}

.container-header-second {
  background-color: var(--basic-white);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  max-width: 519px;
  margin: 0;
}

.advantage-first-text {
  padding-top: 47px;
  margin: 0;
}


.container {
  width: 1200px;
  display: grid;
  margin: 0 auto;
  padding: 0 0;
}

.mainlogo-background {
  background-image: 
  url("../img/hill1.jpg");
  display: grid;
  background-repeat: no-repeat;
  width: 1200px;
  height: 509px;
  margin: 0 0;
}

.mainlogo-background::after {
  content: "";
  position: absolute;
  top: 508px;
  width: 1200px;
  height: 57px;
  background-image: url("../img/backgroundshape.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.check-boks {
  background-image: url("../img/backgroundphoto.jpg");
  display: grid;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  height: 217px;
  margin: 0;
}

.mainlogo-background-photo {
  display: grid;
  padding-top: 76px;
  padding-bottom: 85px;
  justify-self: center;
  vertical-align: middle;
  margin: 0;
}

.main-cheker {
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Features */

.advantage-first {
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  margin: 0 0;
}

.advantage-first h3 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  width: 122px;
  text-align: center;
  padding-left: 139px;
}

.advantage-first p {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

}

.advantage-first-paragraph-one {
  margin: 25px 0 23px;
}

.advantage-first-paragraph-two {
  width: 297px;
  margin: 0;
  padding-left: 52px;
}

/* img-first */

.features-list-first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  background-color: var(--basic-white);
  text-align: center;
  margin: 0;
  padding: 0;
}
.features-item-first p {
  background-color: var(--basic-white);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.features-item-first h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.advantage-third {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.advantage-third-text {
  background-color: var(--basic-blue);
  padding-top: 50px;
  margin: 0;
}

.advantage-third-text p {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantage-third-text h3 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  width: 150px;
  margin: 0 0 0 126px;
}

.features-item-first-housing::before {
  content: "";
  position: absolute;
  top: 1096px;
  left: 202px;
  width: 75px;
  height: 72px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-first-food::before {
  content: "";
  position: absolute;
  top: 1097px;
  left: 602px;
  width: 75px;
  height: 72px;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-first-souvenirs::before {
  content: "";
  position: absolute;
  top: 1091px;
  left: 1008px;
  width: 75px;
  height: 72px;
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-third-text-number {
  margin: 25px 0 23px 0;
}

.advantage-third-discription {
  margin: 0;
  width: 301px;
  padding-left: 50px;
}

.features-list-second {
  display: flex;
  flex-direction: row;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
  list-style: none;
  margin: 0;
  padding: 47px 77px 54px 96px;
  align-items: center;
}

.features-item-second-one {
  padding-right: 168px;
}

.features-item-second-second {
  padding-right: 148px;
}

.advantage-third-head-third {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  width: 119px;
  padding-left: 44px;
  text-align: center;
  font-weight: 700;
}

.advantage-third-paragraph-third-number {
  font-size: 14px;
  line-height: 21px;
  margin: 25px 0 23px 78px;
  width: 51px;
  text-align: center;
  font-weight: 400;
}

.advantage-third-paragraph-third-discription {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  width: 207px;
  text-align: center;
  font-weight: 400;
}


.advantage-third-head-forth {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  width: 99px;
  padding-left: 80px;
  text-align: center;
  font-weight: 700;
}

.advantage-third-paragraph-forth-number {
  width: 51px;
  font-size: 14px;
  line-height: 21px;
  margin: 24px 0 24px 104px;
  text-align: center;
  font-weight: 400;
}

.advantage-third-paragraph-forth-discription {
  width: 51px;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  width: 258px;
  text-align: center;
  font-weight: 400;
}

.advantage-third-head-fifth {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  width: 98px;
  padding-left: 74px;
  text-align: center;
  font-weight: 700;
}

.advantage-third-paragraph-fifth-number {
  font-size: 14px;
  line-height: 21px;
  margin: 25px 0 23px 98px;
  text-align: center;
  font-weight: 400;
  width: 51px;
}

.advantage-third-paragraph-fifth-discription {
  width: 246px;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.container-low {
  text-align: center;
  background-color: var(--basic-white);
}

.container-low h2 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 30px;
  line-height: 24px;
}

.container-low p {
  background-color: var(--basic-white);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

/* Main footer*/

.page-footer {
  display: grid;
  background-color: var(--basic-white-light);
  color: var(--basic-black);

  width: 1200px;
}

.main-footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-white-light);
  color: var(--basic-black);
  padding: 23px 0 36px 111px;
  width: 252px;
}

.footer-contacts a {
  color: var(--basic-black);
    background-color: var(--basic-white-light);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-contacts-img {
  width: 166px;
  margin-bottom: 9px;
  text-align: center;
}

.footer-contacts-phone {
  width: 251px;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 36px 0;
  margin: 0 auto;
  justify-content: space-between;
  list-style: none;
}


.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 139px;
}

.footer-website {
  background-color: var(--basic-white-light);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  width: 74px;
  margin-right: 8px;
}

/* Modal */

.modal {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.modal-form {
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-shadow: var(--basic-white-lihter);
  font-size: 14px;
  line-height: 26px;
}


.infrastructure {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.infrastructure-list {
  list-style: none;
}

.infrastructure-item {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.type-housing {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.choice-building {
  list-style: none;
}

.building-item {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.cost-daily {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.choice-cost-daily {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.section-list {
   display: flex;
   flex-direction: column;
   
}

.sort-find {
  display: flex;
    justify-content: flex-start;
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 21px;
    line-height: 26px;
    padding: 29px 0 31px 0;
    margin: 0 46px 0 0;
    font-weight: 700;
}

.sort-name {
  background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 40px 0 0;
    padding: 31px 0 37px 0;
}

.sorting-head {
  display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 73px;
    padding-right: 76px;
}

.sort-list {
  background-color: var(--basic-white);
  color: var(--basic-grey-darcen);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 32px 0 36px 0;
}

.sort-list-triangle {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 40px 0 36px 0;
}

.sort-list-triangle-blue {
  margin-left: 12px;
  transform: rotate(-180deg);
}

.triangle-button:hover path {
  fill: var(--basic-black);
}

.triangle-button:focus path {
  fill: var(--basic-blue);
}

.triangle-button:active path {
  fill: var(--basic-blue);
}

.social-button-active:disabled path{
  fill: var(--basic-blue);
}

.sort-item-cost a {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-item-cost {
  margin: 0;
  margin-right: 32px;
}

.sort-item a {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline dotted;
  text-decoration-color: var(--basic-blue);
}

.sort-item {
  margin: 0;
  margin-right: 33px;
}

.sort-item-cost a:hover,
.sort-item-cost a:focus,
.sort-item-cost a:active {
  background-color: var(--basic-white);
}

.sort-item-cost a.disabled,
.sort-item-cost a:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-white);
}

.sort-item a:hover,
.sort-item a:focus {
  text-decoration: none;
}

.places-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.places-item-hotel {
  display: flex;

}

.places-item-motel {
  display: flex;
}

.places-item-apartments {
  display: flex;
}

.places-list {
  display: flex;
  padding: 0 73px 0 73px;
  margin: 0;
}

.hotelphoto {
  height: 90px;
  width: 135px;
  padding-top: 30px;
}

.places-item-hotel-content {
  padding: 23px 0 30px 29px;

}

.motelphoto {
  height: 90px;
  width: 135px;
  padding-top: 30px;
}

.homeforest {
  height: 90px;
  width: 135px;
  padding-top: 30px;
}



.places-list h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.wrapper {
  display: flex;
  margin: 8px 0 16px 0;
}

.wrapper p {
  display: flex;
  margin: 0;
  font-weight: 400;
}

.rating-box {
  margin-left: auto;
  padding: 29px 0 30px 0;
}

.stars {
  margin-bottom: 47px; 
  text-align: end;
}


.item-hotel-price-cost,
.item-motal-price-cost,
.item-apartments-price-cost {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.item-hotel-price-hotal,
.item-motel-price-motel,
.item-apartments-price-apartments {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.item-hotel-price-hotel {
  width: 107px;
  padding-right: 9px;
}

.item-motel-price-motal {
  width: 82px;
  padding-right: 34px;
}

.item-apartments-price-apartments {
  width: 117px;
  padding-right: 0;
}

.rating {
  background-color: var(--basic-grey-lighter);
  color: var(--basic-grey-light);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 3px 12px 3px 15px;
}

/** Button **/


.find-hotel-button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}


.find-hotel-button:hover {
  background-color: var(--basic-brown-light-darken);
}

.find-hotel-button:focus,
.find-hotel-button:active {
  background-color: var(--basic-brown-light-darkk);
}

.button-price-detailed {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 3px 16px 3px 17px;
}

.button-price-detailed:hover {
  background-color: var(--basic-blue-darken);
}

.button-price-detailed:focus,
.button-price-detailed:active {
  background-color: var(--basic-blue-dark);
}

.button-price-reservation {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 3px 17px 3px 16px;
}

.button-price-reservation:hover {
  background-color: var(--basic-brown-light-darken);
}

.button-price-reservation:focus,
.button-price-reservation:active {
  background-color: var(--basic-brown-light-darkk);
}


.button {
  font: inherit;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  font-size: 21px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--basic-blue-darken);
}

.button:focus,
.button:active {
  background-color: var(--basic-blue-dark);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}


/* Social button */

.social-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}



.social-button:hover {
  background-color: var(--basic-blue-darken);
}

.social-button:focus path,
.social-button:active path {
  fill: var(--basic-whiter) ;
}

.choice-cost-button {
  background-color: var(--basic-white);
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}

.item-hotel-name:hover,
.item-hotel-name:focus {
  color: var(--basic-blue);
}

