
:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-grey: #888888;
  --basic-grey-light: #666666;
  --basic-grey-lighter: #F2F2F2;
  --basic-grey-darken: #333333;
  --basic-blue: #81B3D2;
  --basic-blue-darken: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-light-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-brown-light: #766458;
  --basic-brown-light-darken: #604E43;
  --basic-brown-light-darkk: #503E33;
  --basic-white-light: rgba(255, 255, 255, 0.9);
  --basic-white-lihter: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* Global */


body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  background-position: top center;
  background-repeat: no-repeat;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
  display: flex;
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 0;
}

.site-navigation a {
  display: flex;
  justify-content: space-between;
  display: block;
  margin-top: 0;
  padding: 26px 15px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation-text:hover,
.site-navigation-text:focus {
  background-color: var(--basic-white);
}

.main-header-logo {
  width: 138px;
  height: 70px;
  order: 2;
  justify-self: center;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;
}
/* Header */

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
  height: 216px;
}

.container-header-first {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 41.5px;
  max-width: 470px;
}

.container-header-second {
  background-color: var(--basic-white);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 51px;
  max-width: 519px;
}

.container {
  width: 1200px;
  display: grid;
  margin: 0 auto;
  padding: 0 0;
}

.mainlogo-background {
  background-image: url("../img/hill1.jpg");
  display: grid;
  background-repeat: no-repeat;
  width: 1200px;
  height: 509px;
  margin: 0 0;
}

.check-boks {
  background-image: url("../img/backgroundphoto.jpg");
  display: grid;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  height: 217px;
  margin: 0;
}

.mainlogo-background-photo {
  display: grid;
  padding: 76px 0;
  justify-self: center;
}

.main-cheker {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--basic-white);
}

.main-header-bar {
  background-color: var(--basic-white);
}

/* Features */

.advantage-first {
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 256px;
  margin: 0 0;
}

.advantage-first h3 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantage-first p {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

/* img-first */

.features-list-first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  background-color: var(--basic-white);
  text-align: center;
  margin: 0 auto;
  height: 256px;
}

.features-item-first p {
  background-color: var(--basic-white);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.features-item-first h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantage-third {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 256px;
}

.advantage-third-text {
  background-color: var(--basic-blue);
}

.advantage-third-text p {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantage-third-text h3 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.features-list-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-light-grey);
  list-style: none;
  margin: 0 auto;
  align-items: center;
  height: 256px;
}

.features-item-second p {
  background-color: var(--basic-light-grey);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.features-item-second h3 {
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.container-low {
  text-align: center;
  background-color: var(--basic-white);
}

.container-low h2 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 30px;
  line-height: 24px;
}

.container-low p {
  background-color: var(--basic-white);
  color: var(--basic-grey-darken);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

/* Main footer*/

.page-footer {
  display: grid;
  background-color: var(--basic-white-light);
  color: var(--basic-black);

  width: 1200px;
}

.main-footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  background-color: var(--basic-white-light);
  color: var(--basic-black);
}

.footer-contacts a {
  color: var(--basic-black);
  background-color: var(--basic-white-light);
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  text-align: center;
}

.footer-social li {
  list-style: none;
}

.footer-website {
  background-color: var(--basic-white-light);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

/* Modal */

.modal {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.modal-form {
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-shadow: var(--basic-white-lihter);
  font-size: 14px;
  line-height: 26px;
}


.infrastructure {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.infrastructure-list {
  list-style: none;
}

.infrastructure-item {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.type-housing {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.choice-building {
  list-style: none;
}

.building-item {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.cost-daily {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.choice-cost-daily {
  /*background-color: var(--basic-white);*/
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.section-list {
   display: flex;
   flex-direction: column;
   
}

.sort-find {
  display: flex;
  justify-content: flex-start;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  padding: 26px 0;
  margin: 0 0;
}

.sort-name {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sort-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sort-item-cost a {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-item a {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline dotted;
  text-decoration-color: var(--basic-blue);
}

.sort-item-cost a:hover,
.sort-item-cost a:focus,
.sort-item-cost a:active {
  background-color: var(--basic-white);
}

.sort-item-cost a.disabled,
.sort-item-cost a:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-white);
}

.sort-item a:hover,
.sort-item a:focus {
  text-decoration: none;
}

.places-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.places-item-hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.places-item-motel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.places-item-apartments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hotelphoto {
  height: 90px;
  width: 135px;
}

.motelphoto {
  height: 90px;
  width: 135px;
}

.homeforest {
  height: 90px;
  width: 135px;
}



.places-list h3 {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
}

.item-hotel-price {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}


.rating {
  background-color: var(--basic-grey-lighter);
  color: var(--basic-grey-light);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

/** Button **/


.find-hotel-button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}


.find-hotel-button:hover {
  background-color: var(--basic-brown-light-darken);
}

.find-hotel-button:focus,
.find-hotel-button:active {
  background-color: var(--basic-brown-light-darkk);
}

.button-price-detailed {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.button-price-detailed:hover {
  background-color: var(--basic-blue-darken);
}

.button-price-detailed:focus,
.button-price-detailed:active {
  background-color: var(--basic-blue-dark);
}

.button-price-reservation {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.button-price-reservation:hover {
  background-color: var(--basic-brown-light-darken);
}

.button-price-reservation:focus,
.button-price-reservation:active {
  background-color: var(--basic-brown-light-darkk);
}


.button {
  font: inherit;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  font-size: 21px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--basic-blue-darken);
}

.button:focus,
.button:active {
  background-color: var(--basic-blue-dark);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}


/* Social button */

.social-button {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--basic-blue-darken);
}

.social-button:focus,
.social-button:active {
  background-color: var(--basic-blue-dark);
}


.choice-cost-button {
  background-color: var(--basic-white);
  /*color: var(--basic-white);*/
  color: var(--basic-black);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}

.item-hotel-name:hover,
.item-hotel-name:focus {
  color: var(--basic-blue);
}

